.amazon{
    height: 140px;
   

}
.main{
    display: flex;
    width: 600px;
    /* height: 350px; */
   
    justify-content: space-between;
    border: 1px solid black;
    background-color: #ffae16;
    padding: 20px;
    margin: auto;
    margin-top: 5%;
    margin-bottom: 5%;
}
.Apple-main{
    background-color: rgba(158, 156, 154, 0.787);
}
.left{
    text-align: left;

}
.left h1{
    font-size: 50px;
}
.date{
    font-size: 25px;
    font-weight: 600;
}
.btn{
    border: none;
  padding: 10px;
  font-size: 20px;
    background-color: black;
    color: white;
    font-weight: 500;
}

