body{
    font-family:monospace;
}
.container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    /* border: 1px solid rgba(0, 0, 255, 0.13); */

    justify-content: space-around;
    gap: 80px;
    margin: auto;


    position: relative;
    z-index: 1;
}

.credit{
   position: relative;
    margin-left: 15%;
}
 .flex-div{
    display: flex;
    gap: 50px;
}

.block-div{
    display: grid;
margin-top: 8%;

}

.form{
    width: 75%;
    /* margin-left: 10%; */
    /* border: 1px solid red; */
}

.mm input{
    width: 94%;
}
input{
    border: none;
    outline: none;
    padding-left: 15px;
    height: 30px;
    font-size: 18px;
    font-weight: 500;
    width: 80%;
  background: none;

  transition: transform .2s;
}

.x{
    border-bottom: 2px solid rgb(255, 27, 73); 
}
label{
    font-size: 14px;
}
span{
    color: rgb(255, 19, 66);
}
.submit-div{
    text-align: center;
    margin: auto;
}
.submit-btn{
    border: none;
    background-color: rgb(255, 17, 65);
    padding: 8px;
    color: white;
    border-radius: 9px;
    width: 150px;
    font-size: 20px;
    cursor: pointer;
    transition: transform .2s;
} 

.user{
    height: 20px;
   margin-top: 5px;
}
.child{
    width: 100%;
    border-bottom: 2px solid rgb(255, 27, 73);

}


/* credit card */
@import url('https://fonts.googleapis.com/css?family=Space+Mono:400,400i,700,700i');

*{
  box-sizing:border-box;
  font-family: 'Space Mono', monospace;
}

body, html{
  margin:0;
  padding:0;
  height: 100%;
  width: 100%;
}

.title {
    margin-bottom: 30px;
    color: #162969;
}


.card{
width: 320px;
height: 190px;
  -webkit-perspective: 600px;
  -moz-perspective: 600px;
  perspective:600px;
  margin: auto;
  margin-top: 30%;

}




.card__part{
  box-shadow: 1px 1px #aaa3a3;
    top: 0;
  position: absolute;
z-index: 1000;
  left: 0;
  display: inline-block;
    width: 320px;
    height: 190px;
    background-image: url('https://image.ibb.co/bVnMrc/g3095.png'), linear-gradient(to right bottom, #fd696b, #fa616e, #f65871, #f15075, #ec4879); 
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 10px;
}
.card__front-square{
   margin-top: 20px;
}
.card__front{
  padding: 18px;

}

.card__logo {
    height: 16px;
}

.card__front-logo{
      position: absolute;
    top: 18px;
    right: 18px;
}
.card__square {
    border-radius: 5px;
    height: 30px;
}

.card_numer {
    display: block;
    width: 100%;
    word-spacing: 4px;
    font-size: 20px;
    letter-spacing: 2px;
    color: #fff;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 5px;
    height: 20px;
}

.card__space-75 {
    width: 55%;
    float: left;
}

.card__space-25 {
    width: 20%;
    float: left;
}

.card__label {
    font-size: 10px;
    text-transform: uppercase;
    color: rgba(255,255,255,0.8);
    letter-spacing: 1px;
}

.card__info {
    margin-bottom: 0;
    margin-top: 5px;
    font-size: 14px;
    line-height: 18px;
    color: #fff;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.back{
    margin-top: 12%;
    margin-left: 10%;
    /* box-shadow: 1px 1px #aaa3a3; */
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
   
  /* position: absolute; */
z-index: 1000;
  left: 0;
  display: inline-block;
    width: 320px;
    height: 190px;
    background-image: url('https://image.ibb.co/bVnMrc/g3095.png'), linear-gradient(to right bottom, #4949496b, #52525253, #5d5d5d4a, #5454546f, #3838384d); 
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    opacity: 1px;
}
.nec{
    display: flex;
    justify-content: space-between;
}
